{% extends "base_headless.html" %}

{% block title%}Fuel Requisition Form Editor {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/daimofuu_fancylabel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/daimofuu_formeditor.css') }}">	

<link rel="stylesheet" href="{{ url_for('static', filename='css/form_editor.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_form_styles.css') }}">



<!-- Advance Editor Styling -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}"> -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/dracula.css') }}"> -->



{% endblock %}

{% block contents %}

<div class="editor_main_con"> 
	<div class="formclass_con" id="main_form_container">



	</div>
	
	
		<div class="bottom_toolbar ">
		
			<button class="df_button secondary_background primary_color_invert small" onclick="submitForm()" ><span class="fa fa-save"></span> Submit</button>
			
			<button class="df_button_flat primary_background_darker primary_color small" onclick="cancelEditor(this)"> Close </button>



		</div>


		</div>

</div>






<datalist id="reasons" value="" required class="fancy_form_df form_display">

</datalist>



<datalist id="branch_list">
	<option value="">  </option>
	<option value="tacloban"> Tacloban </option>
	<option value="ormoc"> Ormoc </option>

</datalist>




<datalist id="supplier_list">
	<option value="">  </option>
	<option value="sample"> Sample </option>

</datalist>




<datalist id="plate_noms">
	<option value=""> </option>
	{% for vehicle in get_vehicles() %}
		<option class="" value="{{ vehicle.id }}"> {{ vehicle.plate_no }}  </option>
	{% endfor %}
				
</datalist>




<datalist id="drivers">
	<option value="">  </option>
	{% for drivers in get_drivers() %}
		<option class="" value="{{ drivers.id }}"> {{ drivers.name }}  </option>
	{% endfor %}
				
</datalist>



<script>
let hasChanges = false;
function updatesOn(elm){
	if(event.type == "change"){
		hasChanges = true;
	}
}
</script>


<script src="{{ url_for('static', filename='js/lib/signature_pad.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/data/fuel_requisition_form.js') }}"></script>

<script src="{{ url_for('static', filename='js/form_libs.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/daimofuu_fancylabel.js') }}"></script>

<script src="{{ url_for('static', filename='js/request_builder.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/fuel_requisition_handles.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/modalizer.js') }}"></script>



<script defer src="{{ url_for('static', filename='js/fuel_req_editor_handles.js') }}"></script>




<script>
//init and Render the Forms we have
let editType = "{{ page }}";
let pageType = "{{ page }}";
qBuilder.server_address = "_";


formDatas = formStructure;


loadForms(0,0,0,1);
addFancyPlaceholder();

loadEvents();//Force Pre-load Events of each form fields, if neccesary


//"date_requested", "plate_no", "driverrequested_by", "branch_id", "last_fuel_recordltrs", "actual_fuel_beg_l", "actual_fuel_endl", "supplier_vendor_name", "no_of_ltrs", "prev_costltr", "activity_type", "crewoccupants1", "crewoccupants2"



</script>



{% endblock %}

{% block extra_js %}
<script>

</script>
{% endblock %}

