.df_label_con.placeholder_label{
	
	
}

div.tabs_input_table.rowed_table.span_width > div > div > label{
		font-size:12px;
		
	
}



.formclass_con{
	max-width:95vmax;
	
	
}


.editor_main_con{
	max-width:1000px;	
	
	
	
}

.bottom_toolbar{
	max-width:95vmax;	
}

.fancy_form_df{
	border-color: var(--secondary_color_faded);
	border-width: 1px !important; 
	
	
}

.cols_con_:has(input:disabled){
    opacity:0.75;
	
}
.cols_con_:has(input:disabled) input {
    border-color: rgba(200,200,200,0.5);
	border-width: 1px !important; 
	 opacity:1;
	
}
.cols_con_:has(input) input {
	
	
}

.form_display:not(.header_input){
	border-radius:8px !important;
}

