<div class="modal_main_backdrop padded" id="vehicle_modal" inert > 
	<div class="modal_container_box">
		<!-- Modal Header -->
		<div class="top_header">
			<div class="title_form_top"> Vehicle Editor </div>
			<div class="close_modal_tright" tabindex='1' onclick="closeModalContent('vehicle_modal')"> &times; </div>
		</div>
		
		<!-- Modal Contents Container -->

		<div class="option_main_container">
			<div class="centered small padded" tag=""> <span class="fa fa-info-circle"> </span> Provide the Details for this vehicle. </div>
			<br />
			
			
			
			
					
		<div class="cols_con_ full_width padded_input"><label class="df_label_con required_style_label placeholder_label" for="plate_no">Plate Number</label>
		
			<input id="plate_no" type="text" value="" required class="fancy_form_df form_display">

			</input>
		</div>
			
			
		<div class="flexed padded_gap">
			
			<div class="cols_con_ padded_input full_width"><label class="df_label_con required_style_label placeholder_label" for="description">Vehicle Description</label>
				<input type="text" id="description" value="" required="" class="fancy_form_df form_display">
				
			</div>

			<div class="cols_con_ padded_input full_width"><label class="df_label_con required_style_label placeholder_label" for="average_km">Average Km</label>
			<input id="average_km" type="number" value="0.00" min="0.00" step="0.01" required="" class="fancy_form_df form_display">
			</div>

			
		</div>
							
			
		</div>
		
		<div class="option_main_container_buttons">
	
			<button class="df_button secondary_background primary_color_invert small" onclick="saveItem()"> <span class="fa fa-save"> </span> Save </button>
			
		</div>
	


	</div>
</div>